*{
    margin: 0;
    padding: 0;
}

.bg{
    width: 98.8vw;
    height: 100%;
    z-index: -100;
    background: url("../assets/oil.jpg") ;
    background-size: 100%;
    background-attachment: fixed;
    filter: blur(3px);
    position: absolute;
}

a{
    text-decoration: none;
    color: white;
}

nav {

}

nav ul li {
    filter: Blur(0px);
    list-style-type: none;
    display:table-cell;
    vertical-align:middle;
    width: 160px;
    height: 5px;
    background-color: #444;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
}

nav ul li:hover{
background-color: #999;
transition-duration: 0.1s;
}

section{
    width: 100vw;
}

section a{
    display:table-cell;
    vertical-align:middle;
    width: 100px;
    height: 40px;
    background: rgb(201, 37, 72);
    text-align: center;
    color: white;
    position: relative;
    left: 200px;
    border-radius: 2px;
    font-size: 21px;
}

#main{
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 1);
    width: 57vw;
    height: 100%;
    border-radius: 10px;
}

#main h1{
    margin-left: 10px;
    text-align: left;
    font-size: 50px;
    width: 800px;
}

#main p{
    margin-left: 10px;
    font-size: 20px;
    width: 800px;
}

#check:hover
{
 background: #0F0;
 transition-duration: 0.2s;
}

#recipes{
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 1);
    width: 30vw;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    text-align: center;
    float: left;
}

#recipes img{
width: 25vw;
opacity: 0.7;
}

#recipes img:hover{
    opacity: 1;
    transition-duration: 0.2s;
}

#text{
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 1);
    width: 60vw;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5vw;
    text-align: center;
    float: left;
}

#video{
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 1);
    width: 60vw;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    float: left;
}